* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--green-300);
}

::-webkit-scrollbar-thumb {
  background-color: var(--orange-100);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--orange-200);
}

:root {
  --green-100: #ccdbdc;
  --green-200: #63c7b2;
  --green-300: #263d42;
  --green-400: #21353a;
  --green-500: #1c2d31;

  --orange-100: #ff7700;
  --orange-200: #ff5e00;

  --gray: #efefef;

  --border-radius: 4px;
}

.pop-up {
  padding: 1rem 3rem;
  position: fixed;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  transition: top .3s;
  background-color: var(--orange-200);
  color: white;
  border-radius: 4px;
  opacity: .9;
  z-index: 100;
}

.project-edit-modal {
  min-height: 150px;
  padding: 2.5rem 2.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--green-400);
  color: white;
  border-radius: 4px;
  opacity: .95;
  z-index: 100;
}

.project-edit-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--green-200);
  opacity: .5;
  z-index: 99;
}

.project-edit-modal input {
  padding: 0.5rem;
  background: none;
  border: 1px solid var(--green-200);
  color: white;
  font-size: 1rem;
}

.project-edit-modal .save-btn {
  padding: 0.5rem;
  background: var(--green-200);
  border: 1px solid var(--green-200);
  color: white;
  font-size: 1rem;
}

.project-edit-modal .exit-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: .75rem;
  background: red;
  color: white;
  border-top-right-radius: 4px;
}

.task-edit-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--green-200);
  opacity: .5;
  z-index: 99;
}

.task-edit-modal {
  width: clamp(300px, 40vw, 500px);
  padding: 2.5rem 2.4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--green-400);
  color: white;
  border-radius: var(--border-radius);
  opacity: .95;
  z-index: 100;
}

.task-edit-modal input,
.task-edit-modal textarea {
  padding: 0.5rem;
  background: none;
  border: 1px solid var(--green-200);
  color: white;
  font-size: 1rem;
}

.task-edit-modal textarea {
  min-height: 150px;
  resize: none;
}

.task-edit-modal .save-btn {
  padding: 0.5rem;
  background: var(--green-200);
  border: 1px solid var(--green-200);
  color: white;
  font-size: 1rem;
}

.task-edit-modal .exit-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: .75rem;
  background: red;
  color: white;
  border-top-right-radius: 4px;
}

.confirm-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: var(--green-300);
  color: white;
  padding: 2rem 1.5rem;
  border-radius: var(--border-radius);
  opacity: .97;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.confirm-modal .row {
  display: flex;
  gap: 1.5rem;
}

.confirm-modal .row button {
  padding: .5rem 1.25rem;
  font-size: 1rem;
  border-radius: var(--border-radius);
}

.confirm-modal .row button.yes {
  background-color: var(--orange-100);
  color: white;
}

.confirm-modal .row button.no {
  background-color: var(--green-200);
  color: white;
}

.confirm-modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: var(--green-200);
  opacity: .5;
}

button {
  cursor: pointer;
  border: none;
}

:is(input, textarea, button):focus {
  outline: none;
}

aside {
  width: 280px;
  display: flex;
  flex-direction: column;
  background-color: var(--green-300);
  position: relative;
  overflow:visible;
  transition: transform .4s;
}

aside.show {
  transform: translateX(0);
}

@media (max-width: 1120px) {
  aside {
    transform: translateX(-100%);
    position: fixed;
    height: 100vh;
    z-index: 8;
  }
}

aside .menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  transform: translateX(100%);
  background-color: var(--green-300);
  color: var(--green-200);
  z-index: 10;
  font-size: 1rem;
  transition: .3s;
  display: none;
}

@media (max-width: 1120px) {
  aside .menu {
    display: block;
  }
}

aside .menu.show {
  background-color: red;
  color: white;
}

aside .menu:hover {
  opacity: .9;
}

aside .projects-control {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

aside .projects-control .controls {
  display: flex;
  padding: .75rem;
}

aside .projects-control .controls input {
  color: white;
  padding: .5rem;
  background-color: var(--green-300);
  flex: 1;
  border: 1px solid var(--green-200);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  caret-color: var(--green-200);
  transition: background-color .3s;
}

aside .projects-control .controls input::placeholder {
  color: #b6b6b67c;
}

aside .projects-control .controls input:focus {
  background-color: var(--green-400);
}

aside .projects-control .controls button {
  padding: .75rem;
  font-size: 1.2rem;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

aside .projects-control .projects-box {
  flex: 1;
  padding: 1rem .75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--green-400);
}

aside .projects-control .projects-box .proj {
  display: flex;
  border-radius: 4px;
  color: white;
  background-color: var(--green-300);
  overflow: hidden;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: .3s;
  transition-property: opacity;
}

aside .projects-control .projects-box .proj:not(.active):hover {
  opacity: .8;
}

aside .projects-control .projects-box .proj.active {
  background-color: var(--green-200);
  color: var(--green-400);
}

aside .projects-control .projects-box .proj p {
  color: white;
  flex: 1;
  line-break: auto;
}

aside .projects-control .projects-box .proj.active p {
  color: var(--green-300);
}

aside .projects-control .projects-box .proj > * {
  padding: .5rem;
}

aside .projects-control .projects-box .proj button {
  transition: background-color .2s;
}

aside .projects-control .projects-box .proj .edit-tab {
  color: var(--green-300);
  background-color: white;
}

aside .projects-control .projects-box .proj .edit-tab:hover {
  background-color: var(--gray)
}

aside .projects-control .projects-box .proj .remove-tab {
  color: black;
  background-color: var(--orange-100);
}

aside .projects-control .projects-box .proj .remove-tab:hover {
  background-color: var(--orange-200);
}

aside .task-control {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

aside .task-control input,
aside .task-control textarea {
  padding: .5rem;
  background-color: transparent;
  border: 1px solid var(--green-200);
  color: white;
  transition: background-color 200ms;
  border-radius: var(--border-radius);
}

aside .task-control input::placeholder,
aside .task-control textarea::placeholder {
  color: #b6b6b67c;
}

aside .task-control input:focus,
aside .task-control textarea:focus {
  background-color: var(--green-400);
}

aside .task-control textarea {
  resize: none;
  height: 130px;
}

aside .task-control .clear-board {
  background-color: var(--orange-100);
  color: white;
  transition: .3s;
}

aside .task-control .clear-board:hover {
  background-color: var(--orange-200);
}

.board {
  flex: 1 1 80%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--green-500);
  position: relative;
  height: 100vh;
}

.board .progress-data {
  padding: 1rem;
  background-color: var(--green-400);
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: var(--border-radius);
}

@media (max-width: 600px) {
  .board .progress-data {
    flex-direction: column;
  }
}

.board .progress-data .timer-data {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

@media (max-width: 600px) {
  .board .progress-data .timer-data {
    justify-content: center;
  }
}

.board .progress-data .timer-data .time {
  font-size: 1.5rem;
}

.board .progress-data .timer-data button {
  color: white;
}

.board .progress-data .timer-data button.active {
  opacity: .8;
}

.board .progress-data .timer-data .stop {
  background-color: var(--orange-200);
}

.board .progress-data .completion-data {
  height: 35px;
  flex: 1;
  width: 100%;
  background: var(--green-500);
  border-radius: 200px;
  overflow: hidden
}

.board .progress-data .completion-data .progress-bar {
  height: 100%;
  background-color: var(--green-200);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: width .5s;
  border-radius: 100px;
}

@media (max-width: 600px) {
  .board .progress-data .completion-data .progress-bar {
    padding: .2rem 0;
  }
}

.board .sections {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  overflow-y: auto;
}

.board .sections .sect {
  background-color: var(--green-400);
  overflow: hidden;
  overflow-y: auto;
  border-radius: var(--border-radius);
}

@media (max-width: 950px) {
  .board {
    height: auto;
  }
  
  .board .sections {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .board .sections .sect {
    height: 500px;
  }
}

.board .sect .title {
  padding: 1rem 0;
  margin: 0 1rem;
  font-size: 2rem;
  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
  position: relative;
}

.board .sect .title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: var(--green-500);
  border-radius: 30px;
}

.board .sect .container {
  padding: 1rem .75rem;
}

.board .sect .container .task-cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.board .sect .task-cont .task {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  cursor: pointer;
}

.board .sect .task-cont .task.dragging {
  opacity: .5;
} 

.board .sect .task-cont .task > * {
  padding: 1rem .5rem;
}

.board .sect .task-cont .task p {
  flex: 1;
  line-break: auto;
  background-color: var(--green-300);
  color: white;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.board .sect .task-cont .task button {
  transition: .2s;
}

.board .sect .task-cont .task .edit-task {
  background-color: white;
}

.board .sect .task-cont .task .edit-task:hover {
  background-color: var(--gray);
}

.board .sect .task-cont .task .remove-task {
  background-color: var(--orange-100);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.board .sect .task-cont .task .remove-task:hover {
  background-color: var(--orange-200);
}

.board .sect .task-cont .task .task-modal {
  margin-top: 0;
  padding: 0 1rem;
  height: 0;
  width: 100%;
  display: none;
  position: relative;
  flex-direction: column;
  gap: 1rem;
  color: white;
  background-color: var(--green-300);
  border-radius: var(--border-radius);
  border: 1px solid var(--green-500);
  opacity: 0;
  line-break: auto;
  transition: all .3s;
}

.board .sect .task-cont .task .task-modal.show {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: fit-content;
  opacity: 1;
}

.board .sect .task-cont .task .task-modal::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 20px;
  width: 15px;
  height: 15px;
  background-color: var(--green-300);
  border: 1px solid var(--green-500);
  border-bottom: none;
  border-right: none;
  transform: rotateZ(45deg) translateY(55%);
  border-radius: var(--border-radius);
}

.board .sect .task-cont .task .task-modal > * {
  padding: .5rem;
  border-radius: var(--border-radius);
  background-color: var(--green-400);
}

.board .sect .task-cont .task .task-modal .description {
  width: 100%;
}

.board .sect .task-cont .task .task-modal :is(.date, .estimation) {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  color: var(--gray);
  font-size: .9rem;
  text-align: right;
}