.primary-btn {
  padding: .5rem;
  font-size: 1.2rem;
  background-color: transparent;
  color: var(--green-200);
  border: 1px solid var(--green-200);
  position: relative;
  overflow: hidden;
  z-index: 10;
  transition: color .5s;
  border-radius: var(--border-radius);
}

.primary-btn:hover,
.primary-btn:focus {
  color: var(--green-300);
}

.primary-btn::before {
  content: "";
  width: 110%;
  height: 300px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: var(--green-200);
  transition: 600ms;
  z-index: -1;
}

.primary-btn:hover::before,
.primary-btn:focus::before {
  top: -150px;
  left: 50%;
}

.secondary-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: var(--green-300);
  background-color: var(--green-200);
  border-radius: var(--border-radius);
  transition: color .3s;
}

.secondary-btn:hover,
.secondary-btn:focus {
  color: var(--gray);
}