* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  font-family: 'Work Sans', sans-serif;
}

:root {
  --green-100: #ccdbdc;
  --green-200: #63c7b2;
  --green-300: #263d42;
  --green-400: #21353a;

  --orange-100: #ff7700;
  --orange-200: #ff5e00;

  --gray: #efefef;
}

.pop-up {
  padding: 1rem 2rem;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  transition: top .3s;
  background-color: var(--green-400);
  color: white;
  border-radius: 4px;
  opacity: .9;
  z-index: 100;
}

.input-modal {
  height: 120px;
  padding: 1rem 2.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--green-400);
  color: white;
  border-radius: 4px;
  opacity: .95;
  z-index: 100;
}

.input-modal-layover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--green-200);
  opacity: .5;
  z-index: 99;
}

.input-modal input {
  padding: 0.5rem;
  background: none;
  border: 1px solid var(--green-200);
  color: white;
  font-size: 1rem;
}

.input-modal .confirm-btn {
  padding: 0.5rem;
  background: var(--green-200);
  border: 1px solid var(--green-200);
  color: white;
  font-size: 1rem;
}

.input-modal .exit-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: .75rem;
  background: red;
  color: white;
  border-top-right-radius: 4px;
}

button {
  cursor: pointer;
  border: none;
}

:is(input, textarea, button):focus {
  outline: none;
}

aside {
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
  background-color: var(--green-300);
  position: relative;
  overflow:visible;
  transition: transform .4s;
}

aside.show {
  transform: translateX(0);
}

@media (max-width: 768px) {
  aside {
    transform: translateX(-100%);
    position: absolute;
    height: 100%;
    z-index: 10;
  }
}

aside .menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  transform: translateX(100%);
  background-color: var(--green-300);
  color: var(--green-200);
  z-index: 10;
  font-size: 1rem;
  transition: .3s;
}

@media (min-width: 768px) {
  aside .menu {
    display: none;
  }
}

aside .menu.show {
  background-color: red;
  color: white;
}

aside .menu:hover {
  opacity: .9;
}

aside .projects-control {
  flex-basis: 70%;
  max-height: 70%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

aside .projects-control .controls {
  display: flex;
  padding: .75rem;
}

aside .projects-control .controls input {
  color: white;
  padding: .5rem;
  background-color: var(--green-300);
  flex: 1;
  border: 1px solid var(--green-200)
}

aside .projects-control .controls input::placeholder {
  color: rgb(183, 183, 183);
}

aside .projects-control .controls button {
  background-color: var(--green-200);
  color: var(--green-300);
  padding: .75rem;
  font-size: 1.2rem;
  transition: color .3s;
}

aside .projects-control .controls button:hover {
  color: var(--gray);
}

aside .projects-control .projects-box {
  flex: 1;
  padding: 1rem .75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--green-400);
}

aside .projects-control .projects-box .proj {
  display: flex;
  border-radius: 4px;
  color: white;
  background-color: var(--green-300);
  overflow: hidden;
  cursor: pointer;
}

aside .projects-control .projects-box .proj.active {
  background-color: var(--green-200);
  color: var(--green-400);
}

aside .projects-control .projects-box .proj p {
  color: white;
  flex: 1;
  word-break: break-all;
}

aside .projects-control .projects-box .proj.active p {
  color: var(--green-300);
}

aside .projects-control .projects-box .proj > * {
  padding: .5rem;
}

aside .projects-control .projects-box .proj button {
  transition: background-color .2s;
}

aside .projects-control .projects-box .proj .edit-tab {
  color: var(--green-300);
  background-color: white;
}

aside .projects-control .projects-box .proj .edit-tab:hover {
  background-color: var(--gray)
}

aside .projects-control .projects-box .proj .remove-tab {
  color: white;
  background-color: var(--orange-100);
}

aside .projects-control .projects-box .proj .remove-tab:hover {
  background-color: var(--orange-200);
}

aside .task-control {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

aside .task-control textarea {
  flex: 1;
  resize: none;
  padding: .5rem;
  background-color: transparent;
  border: 1px solid var(--green-200);
  color: white;
  transition: background-color 200ms;
}

aside .task-control textarea:focus {
  background-color: var(--green-400);
}

aside .task-control button {
  padding: .5rem;
  font-size: 1.2rem;
  background-color: transparent;
  color: var(--green-200);
  border: 1px solid var(--green-200);
  position: relative;
  overflow: hidden;
  z-index: 10;
  transition: color .5s;
}

aside .task-control button:hover {
  color: var(--green-300);
}

aside .task-control button::before {
  content: "";
  position: absolute;
  top: -100px;
  left: -150px;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--green-200);
  transition: 500ms;
  z-index: -1;
}

aside .task-control button:hover::before {
  top: 50%;
  left: 50%;
}

.board {
  flex: 1 1 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem;
  background-color: var(--gray);
  position: relative;
}

@media (max-width: 992px) {
  .board {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

.board span {
  padding: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--green-300);
  color: white;
  opacity: .8;
}

.board .sect {
  background-color: var(--green-100);
  overflow: hidden;
  border-radius: 10px;
}

.board .sect .title {
  padding: 1rem;
  font-size: 2rem;
  color: white;
  background-color: var(--green-200);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
}

@media (max-width: 1012px) {
  .board .sect .title {
    font-size: 1.5rem
  }
}

/*! ________________________________ FIX OVERFLOW ISSUE HERE ________________________________*/
.board .sect .container {
  max-height: 100%;
  padding: 1rem .75rem;
  overflow-y: auto;
}

.board .sect .container .task-cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 992px) {
  .board .sect .container .task-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.board .sect .task-cont .task {
  display: flex;
  background-color: var(--gray);
  overflow: hidden;
  border-radius: 4px
}

.board .sect .task-cont .task.dragging {
  opacity: .5;
} 

.board .sect .task-cont .task > * {
  padding: 1rem .5rem;
}

.board .sect .task-cont .task p {
  flex: 1;
  word-break: break-all;
}

.board .sect .task-cont .task button {
  transition: .2s;
}

.board .sect .task-cont .task .edit-task {
  color: white;
  background-color: var(--green-300);
}

.board .sect .task-cont .task .edit-task:hover {
  color: var(--green-200);
}

.board .sect .task-cont .task .remove-task {
  color: white;
  background-color: var(--orange-100);
}

.board .sect .task-cont .task .remove-task:hover {
  background-color: var(--orange-200);
}